@import "../dev/variables";

.header__burger{
  display: none;
}

#block-burgermenu{
  .field--name-body{
    text-transform: none;
    padding-top: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}

@media(max-width: $Large){
  header{
    .menu{
      padding-top: 20px;
      position: absolute;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      top: -1600px;
      background-color: #fff;
      width: $Medium - 20px;
      transition: all .5s ease 0s;
      margin-left: 0;
      z-index: 999;
    }

    .menu.menu_active{
      top: 160px
    }

    .menu-item{
      margin-right: 0;
      a:hover, & a.is-active{
        border: 0;
        margin-top: 0;
        height: 100%;
      }
    }

    .header__burger{
      z-index: 5;
      position: relative;
      display: flex;
      justify-content: center;
      width: 45px;
      height: 35px;
      padding: 20px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 5px;
      background-color: $blue;
      cursor: pointer;

      span{
        top: 50%;
        transform: scale(1) translateY(-50%);
      }

      span, &::after, &::before{
        position: absolute;
        height: 3px;
        width: 25px;
        transition: all ease-in .3s;
        background-color: #fff;
      }

      &::after, &::before{
        content: '';
      }

      &::before{
        top: 10px;
      }

      &::after{
        bottom: 10px;
      }
    }

    .header__burger.header__burger_active{
      &::before{
        top: 50%;
        transform: rotate(-45deg) translate(0,-50%);
      }

      span{
        top: 50%;
        transform: scale(0) translate(0,-50%);
      }

      &::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
}

@media(max-width: $Medium){
  header{
    .menu{
      width: $Small - 10px;
    }
  }
}

@media(max-width: $Small){
  header{
    .menu{
      width: 100%;
    }
  }
}
