.block-views-blockprojects-block-1 {
  margin-top: 110px;
}
.block-views-blockprojects-block-1 h2 {
  font-weight: normal;
}
.block-views-blockprojects-block-1 .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.block-views-blockprojects-block-1 .views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #373645;
}
.block-views-blockprojects-block-1 .views-row:not(:last-child) {
  margin-right: 30px;
}
.block-views-blockprojects-block-1 .views-row:first-child .project-category {
  color: #88dccb;
}
.block-views-blockprojects-block-1 .views-row:nth-child(2) .project-category {
  color: #cdabda;
}
.block-views-blockprojects-block-1 .views-row:nth-child(3) .project-category {
  color: #e84c3d;
}
.block-views-blockprojects-block-1 .views-row:last-child .project-category {
  color: #94d4f0;
}
.block-views-blockprojects-block-1 .views-field-field-project-category {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.block-views-blockprojects-block-1 .views-field-title {
  margin: 40px 0 20px 0;
  color: #373645;
}
.block-views-blockprojects-block-1 .views-field-view-node {
  background-color: #373645;
}
.block-views-blockprojects-block-1 .node__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-views-blockprojects-block-1 .pager {
  padding-bottom: 155px;
}
.block-views-blockprojects-block-1 .pager__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-views-blockprojects-block-1 .pager__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: #373645;
  font-size: 13px;
}
.block-views-blockprojects-block-1 .pager__item a {
  text-decoration: none;
}
.block-views-blockprojects-block-1 .pager__item.is-active {
  color: #747474;
  font-weight: bold;
  background-color: #dddcdd;
  border-radius: 100%;
}
.block-views-blockprojects-block-1 .view-projects {
  background: repeating-linear-gradient(-60deg, #cccccc 0, #cccccc 1px, transparent 1px, transparent 5px);
}