* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #373645;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
}
h2:after, h2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 40%;
  background-color: #cccccc;
  border: solid #FFF;
  border-width: 0 10px;
}
h2:after {
  margin-right: -100%;
}
h2:before {
  margin-left: -100%;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 13px;
}

img {
  max-width: 100%;
}